* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;

}

body {
  background-color: #c4d9f5;
  color: #333;
  margin: 0;
}

.header {
  background-color: #c4d9f5;
  color: rgb(15, 15, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.header h2 {
  font-size: 22px;
  font-weight: bold;
}

.header input {
  padding: 8px 12px;
  width: 280px;
  border-radius: 5px;
  border: none;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
  background-color: #c4d9f5;
}


.sidebar {
  background-color: #0f2c70;
  color: white;
  padding: 20px;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 30px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  text-align: center;
}

.sidebar li {
  margin: 10px 0;
  margin-top: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
  border-radius: 5px;
  transition: 0.2s;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #1b4fa1;
}

li .Signout {
  color: orangered;
  
}

/* Main Content */
.main-content {
  background-color: #f4f6fb;
  padding: 20px;
  overflow-y: auto;
}



/* Dashboard */
.welcome-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b4fa1;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.welcome-card img {
  width: 70px;
  border-radius: 50%;
  height: 75px;
  background: white;
  padding: 5px;
  margin-left: 10%;
}

.stats-section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card ul p {
  margin: 5px 0;
  border-radius: 8px;
  font-size: 14px;
  padding: 14px 16px;
  border-bottom: 1px solid #c4d9f5;
  box-shadow: 0 2px 4px #c4d9f5;
  margin-bottom: 5px;
  background: 0px #c4d9f5 ;
  margin-right: 5px;
  text-align: left;

}

.card img {
  width: 100%;
  border-radius: 8px;
}

footer {
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
footer .lampiran .doc {
  padding: 10px 0;
  border-radius: 8px;
  border-bottom: 1px solid #c4d9f5;
  box-shadow: 0 2px 4px #c4d9f5;
  margin-bottom: 5px;
  background: #c4d9f5;
}
footer .lampiran a {
  color: #381eff;
  text-decoration: none;
}